{% load static %}
<div class="login-wrapper" id="login-content">
    <div class="login-content">
        <h3>Login</h3>
        
        <div id="login-error">
            
        </div>

        <form method="POST" autocomplete="on">
            {% csrf_token %}
            <div class="row">
                <label for="username">
                    Username:
                    <input type="text" name="username" id="username" placeholder="Username" required/>
                </label>
            </div>

            <div class="row">
                <label for="password">
                    Password:
                    <input type="password" name="password" id="password" placeholder="Password" required/>
                </label>
            </div>
            <div class="row">
                <div class="remember">
                    <div>
                        <input id="checkrememberme" type="checkbox" name="remember" value="notchecked"><span>Remember me</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <button id="login" type="submit">Login</button>
            </div>
        </form>
        <div class="row">
            <p>Or via social</p>
            <div class="social-btn-2">
                <a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a>
                <a class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a>
            </div>
        </div>
    </div>
</div>

<!-- ?Login Js File -->
<script type="text/javascript" src="{% static 'js/login.js' %}" defer></script>

