{% load static %}

<div class="login-wrapper" id="signup-content">
    <div class="login-content">
        <h3>sign up</h3>

        <div id="register-error">
            <!-- <div class="alert alert-danger text-center text-capitalize" style="text-transform: capitalize">
                <strong>username or password is wrong</strong>
            </div> -->
        </div>

        <form method="POST" autocomplete="on">
            {% csrf_token %}
            <div class="row">
                <label for="username-2">
                    Username:
                    <input type="text" name="username" id="username-2" placeholder="" required/>
                </label>
            </div>

            <div class="row">
                <label for="email-2">
                    your email:
                    <input type="password" name="email" id="email-2" placeholder="" required/>
                </label>
            </div>
            <div class="row">
                <label for="password-2">
                    Password:
                    <input type="password" name="password" id="password-2" placeholder="" required/>
                </label>
            </div>
            <div class="row">
                <label for="repassword-2">
                    re-type Password:
                    <input type="password" name="password" id="repassword-2" placeholder="" required/>
                </label>
            </div>
            <div class="row">
                <button id="register" type="submit">sign up</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/register.js' %}" defer></script>