{% extends "base.html" %}
{% load static %}

{% block title %} Change Avatar Profile {% endblock title %}

{% block content %}

    <div class="hero user-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct" style="text-align: center;">
                        <h1 style="color:#fff;white-space: nowrap">Change Profile Avatar</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-single">
        <div class="container">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <!-- !Burani form kimi yazacagsan ajax ile filan -->
                <button type="submit" style="border: 1px solid transparent;background-color: #DD003F !important;color: #fff !important;font-weight: 550;font-size: 14px;border-radius: 5px;padding: 10px;width: 50%;">
                    Confirm
                </button>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'profiles/change_avatar.js' %}" defer></script>
{% endblock scripts %}