{% extends "base.html" %}
{% load static %}

{% block title %} My Favorite Films {% endblock title %}

<!-- userfavoritegrid13:40-->

<body>
{% block content %}
    <div class="hero user-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                        <h1>{{profile.user.first_name}}&nbsp;{{profile.user.last_name}}’s profile</h1>
                        <ul class="breadcumb">
                            <li class="active"><a href="{% url 'movie:home' %}">Home</a></li>
                            <li> <span class="ion-ios-arrow-right"></span>Favorite movies</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-single">
        <div class="container">
            <div class="row ipad-width2">

                <!-- !User Information -->
                {% include "userinformation.html" %}

                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="topbar-filter user">
                        <p>Found <span id="favFilmCount"> {{filmsFavs|length}} movies </span> in total</p>
                    </div>

                    <!-- !Favorite Films List -->
                    <div class="flex-wrap-movielist grid-fav">
                    {% if filmsFavs %}
                        {% for filmsFav in filmsFavs %}
                            <div class="movie-item-style-2 movie-item-style-1 style-3">
                                <img src="{{filmsFav.image_movie.url}}" alt="">
                                <div class="hvr-inner">
                                    
                                    <!-- ?Remove Film From Favorite Film List Form with Ajax -->
                                    <form class="removeFavariteList">
                                        {% csrf_token %}
                                        <button type="submit" style="border: 1px solid transparent;background-color: #DD003F !important;color: #fff !important;font-weight: 550;font-size: 14px">
                                            Remove
                                            <i class="ion-android-arrow-dropright"></i>
                                            <span style="display: none;" class="filmsIds" data-favfilmId="{{filmsFav.id}}"></span>
                                        </button>
                                    </form>

                                </div>
                                <div class="mv-item-infor">
                                    <h6><a href="{% url 'movie:detailfilm' filmsFav.slug_movie %}">{{filmsFav.title_movie}}</a></h6>
                                    <p class="rate"><i class="ion-android-star"></i><span>{{filmsFav.avarage_ibdm}}</span> /10</p>
                                </div>
                            </div>
                        {% endfor %}
                            {% else %}
                                <div>
                                    <h3 style="color:#e74c3c;margin-bottom: 20px;">You Don't Have A Favorite Movie</h3>
                                </div>
                            {% endif %}
                        <div id="notFavFilm" style="display: none;">
                            <h3 style="color:#e74c3c;margin-bottom: 20px;">You Don't Have A Favorite Movie</h3>
                        </div>
                    </div>	    
                

                    <div class="topbar-filter">
                        <label>Movies Pagination:</label>
                
                        {% if filmsFavs.has_other_pages %}
                            <div class="pagination2">
                                
                                {% if filmsFavs.has_previous %}
                                    <a href="?page={filmsFavs.previous_page_number}"><i class="ion-arrow-left-b"></i></a>
                                {% endif %}

                                {% for i in filmsFavs.paginator.page_range %}
                                    {% if filmsFavs.number == i %}
                                        <a class="active" href="">{{i}}</a>
                                    {% else %}
                                        <a href="?page={{i}}">{{i}}</a>
                                    {% endif %}
                                {% endfor %}

                                {% if filmsFavs.has_next %}
                                    <a href="?page={{filmsFavs.next_page_number}}"><i class="ion-arrow-right-b"></i></a>
                                {% endif %}

                            </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}
</body>

    {% block scripts %}
        <script type="text/javascript" src="{% static 'profiles/my_favorite.js' %}" defer></script>
    {% endblock scripts %}



</html>