{% extends "base.html" %}
{% load static %}

{% block title %} MyProfile : {{request.user}} {% endblock title %}


<body>
    {% block content %}
            
        <!-- !Profile Image -->
        <div class="ui modal" style="margin-bottom: 100px;" id="modalProfile">
                <i class="close icon"></i>
                <div class="header">
                Profile Picture
                </div>
                <div class="image content">
                <div class="ui medium image">
                    <img src="" id="profPictureSingle" style="width: 200px !important;height:200px !important;">
                </div>
                <div class="description">
                    <div class="ui header"></div>
                    <div class="ui header"></div>
                    <div class="ui header"></div>
                </div>
                </div>
                <div class="actions">
                <div class="ui black deny button">
                    Close
                </div>
                </div>
        </div>
        
        {% include 'userfirstlastname.html' %}

        <div class="page-single">
            <div class="container">
                <div class="row ipad-width">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="user-information">
                        
                        <!-- !Change Image Form-->
                        <form action="">
                            <div class="user-img">
                                {% if profile.avatar %}
                                    <a href="#"><img src="{{profile.avatar.url}}" width="170px" height="150px" alt="" class="imageProfile" style="border-radius: 25px;"><br></a>
                                {% else %}
                                    <a href=""><img src="{% static 'images/sekilyox.png' %}" alt="" width="170px" height="150px" alt="" class="imageProfile" style="border-radius: 25px;"></a>
                                {% endif %}
                                {% include 'changeavatar.html' %}
                            </div>
                        </form>

                    
                        
                        <!-- !xxxxxxxxxxxxxxxx -->
                        {% include 'accountdetails.html' %}
                        

                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="form-style-1 user-pro" action="#">
                            
                            <!-- ?!find already username and alert that is why  -->
                            <div id="alert-box-username">
                                
                            </div>

                            <div id="alert-box-username2">
                                
                            </div>

                            <!-- !Profile Form -->
                            <form class="user" id="profileDetailForm" autocomplete="off">
                                <h4> Profile details</h4>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>Username</label>
                                        <input type="text" value="{{profile.user}}" id="profileUsername" required>
                                    </div>
                                    <div class="col-md-6 form-it">
                                        <label>Email Address</label>
                                        <input type="email" value="{{profile.user.email}}" id="profileEmail">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>First Name</label>
                                        <input type="text" value="{{profile.user.first_name}}" id="profileFirstName">
                                    </div>
                                    <div class="col-md-6 form-it">
                                        <label>Last Name</label>
                                        <input type="text" value="{{profile.user.last_name}}" id="profileLastName">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>Country</label>
                                        {% if profile.country %}
                                            <input type="text" value="{{profile.country|title}}" id="profileCountry">
                                        {% else %}
                                            <input type="text" placeholder="Input Country" id="profileCountry">
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6 form-it">
                                        <label>State</label>
                                        {% if profile.state %}
                                            <input type="text" value="{{profile.state|title}}" id="profileState">
                                        {% else %}
                                            <input type="text" placeholder="Input State" id="profileState">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <input class="submit" type="submit" value="save">
                                    </div>
                                </div>	
                            </form>
                            <!-- !End Profile Form -->

                            <!-- !Change Password Form -->
                            <form action="{% url 'profiles:myProfileView' %}" method="POST" id="changePasswordId" class="password" autocomplete="off">
                                {% csrf_token %}
                                <h4> Change password</h4>

                                {% if messages %}
                                {% for message in messages %}
                                        <div class="alert {{message.tags}}">
                                            <strong>{{message}}</strong>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 10px;">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                {% for field in form %}
                                    <div class="row">
                                        <div class="col-md-6 form-it">
                                            {% if field.errors %}
                                                <div class="alert alert-danger" style="padding: 0; text-align: center;padding-top: 10px;border: 1px solid gray;border-radius: 3px">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 10px;">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <strong style="color: #222f3e !important;">{{field.errors}}</strong>
                                                </div>
                                            {% endif %}
                                            <label for="{{field.id_for_label}}">{{field.label}}</label>
                                            {{field}}
                                        </div>
                                    </div>
                                {% endfor %}
                                
                                <div class="row">
                                    <div class="col-md-2">
                                        <input class="submit" type="submit" value="change">
                                    </div>
                                </div>

                            </form>
                            <!-- !End ChangePassword Form -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
</body>

    {% block scripts %}
        <script type="text/javascript" src="{% static 'profiles/my_profile.js' %}" defer></script>
    {% endblock scripts %}

</html>

