{% extends "base.html" %}
{% load static %}

{% block title %} MyProfile : {{request.user}} {% endblock title %}

<body>
    {% block content %}
        <div class="hero user-hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hero-ct">
                            <h1>{{profile.user.first_name|title}} &nbsp;{{profile.user.last_name|title}} - profile</h1>
                            <ul class="breadcumb">
                                <li class="active"><a href="{% url 'movie:home' %}">Home</a></li>
                                <li> <span class="ion-ios-arrow-right"></span>Profile</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-single">
            <div class="container">
                <div class="row ipad-width">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="user-information">
                        
                        <!-- !Change Image Form-->
                        <form action="">
                            <div class="user-img">
                                {% if profile.avatar %}
                                    <a href="#"><img src="{{profile.avatar.url}}" width="170px" height="150px" alt="" id="imagesekilim" style="border-radius: 25px;"><br></a>
                                {% else %}
                                    <a href=""><img src="{% static 'images/sekilyox.png' %}" alt="" width="170px" height="150px" alt="" id="imagesekilim" style="border-radius: 25px;"></a>
                                {% endif %}
                                <a href="#" class="redbtn">Change avatar</a>
                            </div>
                        </form>
                        
                            <div class="user-fav">
                                <p>Account Details</p>
                                <ul>
                                    <li class="active"><a href="userprofile.html">Profile</a></li>
                                    <li><a href="userfavoritelist.html">Favorite movies</a></li>
                                    <li><a href="userrate.html">Rated movies</a></li>
                                </ul>
                            </div>
                            <div class="user-fav">
                                <p>Others</p>
                                <ul>
                                    <li><a href="#">Change password</a></li>
                                    <li><a href="#">Log out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="form-style-1 user-pro" action="#">

                            <!-- !Profile Form -->
                            <form action="#" class="user">
                                <h4>01. Profile details</h4>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>Username</label>
                                        <input type="text" value="{{profile.user}}" placeholder="">
                                    </div>
                                    <div class="col-md-6 form-it">
                                        <label>Email Address</label>
                                        <input type="text" value="{{profile.user.email}}" placeholder="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>First Name</label>
                                        <input type="text" value="{{profile.user.first_name}}" placeholder="">
                                    </div>
                                    <div class="col-md-6 form-it">
                                        <label>Last Name</label>
                                        <input type="text" value="{{profile.user.last_name}}" placeholder="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>Country</label>
                                        {% if profile.country %}
                                            <input type="text" value="{{profile.country|title}}" placeholder="">
                                        {% else %}
                                            <input type="text" placeholder="Input Country">
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6 form-it">
                                        <label>State</label>
                                        {% if profile.state %}
                                            <input type="text" value="{{profile.state|title}}" placeholder="">
                                        {% else %}
                                            <input type="text" placeholder="Input State">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <input class="submit" type="submit" value="save">
                                    </div>
                                </div>	
                            </form>
                            <!-- !End Profile Form -->

                            <!-- !Change Password Form -->
                            <form action="#" class="password">
                                <h4>02. Change password</h4>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>Old Password</label>
                                        <input type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>New Password</label>
                                        <input type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>Confirm New Password</label>
                                        <input type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <input class="submit" type="submit" value="change">
                                    </div>
                                </div>	
                            </form>
                            <!-- !End ChangePassword Form -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
</body>
</html>