.search-result{
    width: 100%;
    border: 1px solid red;
    color: #fff;
    background-color: #222f3e;
    border-color: transparent;
    padding: 5px;
    margin: 2px;
}

.searh-image{
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    border-radius:50%;
    margin-left: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: cover;
}

#films-title{
    position: relative;
    top: -30px;
    margin-left: 80px;
}

.hide{
    display: none;
}


