{% extends "base.html" %}
{% load static %}

{% block title %}Actor List{% endblock title %}


<body>
    {% block content %}
            <!-- !Celebirity Panel -->
            <div class="hero common-hero">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero-ct">
                                <h1>celebrity listing - list</h1>
                                <ul class="breadcumb">
                                    <li class="active"><a href="{% url 'movie:home' %}">Home</a></li>
                                    <li> <span class="ion-ios-arrow-right"></span> celebrity listing</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- celebrity list section-->

            <div class="page-single">
                <div class="container">
                    <div class="row ipad-width2">
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <div class="topbar-filter">
                                <p class="pad-change">Found <span>{{actors|length}} celebrities</span> in total</p>
                            </div>
                            <div class="row">
                                {% for actor in pages_actors %}<!-- !Burani nezerinde saxla -->
                                    <div class="col-md-12">
                                        <div class="ceb-item-style-2">
                                            <img src="{{actor.image_actor.url}}" style="width: 67px !important; height: 98px !important;" alt="">
                                            <div class="ceb-infor">
                                                <h2><a href="{% url 'actor:actorDetailView' actor.slug_actor %}">{{actor.first_name_actor}} &nbsp;{{actor.last_name_actor}}</a></h2>
                                                
                                                <span> 
                                                    {% if actor.duty_type_actor == 'Director' %}
                                                        <span style="color: #ffffff !important;">{{actor.duty_type_actor}},&nbsp; {{actor.country_actor}}</span>
                                                        <p>{{actor.biography_actor|truncatechars:100}}</p>
                                                    {% elif actor.duty_type_actor == 'Writer' %}
                                                        <span style="color: #ffffff !important;">{{actor.duty_type_actor}},&nbsp; {{actor.country_actor}}</span>
                                                        <p>{{actor.biography_actor|truncatechars:100}}</p>
                                                    {% elif actor.duty_type_actor == 'Actorisa' and actor.gender_actor == 'M' %}
                                                        <span style="color: #ffffff !important;">Actor,&nbsp; {{actor.country_actor}}</span>
                                                        <p>{{actor.biography_actor|truncatechars:100}}</p>
                                                    {% elif actor.duty_type_actor == 'Actorisa' and actor.gender_actor == 'F' %}
                                                        <span style="color: #ffffff !important;">Actress, &nbsp; {{actor.country_actor}}</span>
                                                        <p>{{actor.biography_actor|truncatechars:100}}</p>
                                                    {% elif actor.duty_type_actor == 'Producter' %}
                                                        <span style="color: #ffffff !important;">{{actor.duty_type_actor}},&nbsp; {{actor.country_actor}}</span>
                                                        <p>{{actor.biography_actor|truncatechars:100}}</p>
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="topbar-filter">
                                <label>Reviews per page:</label>
                                <div class="pagination2">
                                    <span>Page {{page}} of {{paginator.num_pages}}:</span>
                                    {% if pages_actors.has_other_pages %}
                                        
                                        {% if pages_actors.has_previous %}
                                            <a href="?page={{pages_actors.previous_page_number}}">
                                                <i class="ion-arrow-left-b"></i>
                                            </a>                                           
                                        {% endif %}
                                        
                                        {% for i in paginator.page_range %}
                                            {% if pages_actors.number == i %}<!-- Burdaki number deyeri request.GET.get('page') den gelen deyerdir -->
                                                <a class="active" href="#">{{i}}</a>
                                            {% else %}
                                                <a href="?page={{i}}">{{i}}</a>
                                            {% endif %}
                                        {% endfor %}
                                        
                                        {% if pages_actors.has_next %}
                                            <a href="?page={{pages_actors.next_page_number}}">
                                                <i class="ion-arrow-right-b"></i>
                                            </a>
                                        {% endif %}

                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-12">
                            <div class="sidebar">
                                <div class="searh-form">
                                    <h4 class="sb-title">Search celebrity</h4>
                                    <!-- !Search Actor With Ajax => this is search form -->
                                    <form class="form-style-1 celebrity-form" id="searchSubmitForm"><!-- ?burda ne action na nedeki formun methood deyerine ehtiyac var cunki biz bunlari insaAllah jquery ajax ile yazaciyig -->
                                        <div class="row">

                                            <!-- Bura actyorun adi hissedir -->
                                            <div class="col-md-12 form-it">
                                                <label>Celebrity Name</label>
                                                <input type="text" id="first_name_actor" name="first_name_actor" placeholder="Enter Name">
                                            </div>

                                            <!-- Bura actyorun soyad hissedir -->
                                            <div class="col-md-12 form-it">
                                                <label>Celebrity Surname</label>
                                                <input type="text" id="last_name_actor" name="last_name_actor" placeholder="Enter Surname">
                                            </div>

                                            <!-- Bura actyorun gender secme hissesidir select olacag burda -->
                                            <div class="col-md-12 form-it"><!-- genderactor bura -->
                                                <label>Celebrity Gender</label>
                                                <select id="select_gender">
                                                    <option value="M">Men</option>
                                                    <option value="F">Woman</option>
                                                </select>
                                            </div>

                                            <!-- Bura actyorun pese secme hissesidir -->
                                            <div class="col-md-12 form-it"><!-- duty_type_actor bura -->
                                                <label>Duty Type Actor</label>
                                                <select id="select_duty">
                                                    <option value="director">Director</option>
                                                    <option value="writer">Writer</option>
                                                    <option value="actor">Actor</option>
                                                    <option value="actress">Actress</option>
                                                </select>
                                            </div>
                                            
                                            <!-- Bura actyorun olke hissesidir -->
                                            <div class="col-md-12 form-it">
                                                <label>Celebrity Country</label>
                                                <input type="text" id="country_actor" name="country_actor" placeholder="Enter Country">
                                            </div>
                                            

                                            <div class="col-md-12 ">
                                                <input class="submit" type="submit" value="submit"><!-- eger form icinde buton varsa ve hemin buton backende ve ya basqa bir yere sorgu atirsa ve ya data gonderirse bu zaman mutleq sekilde butonun type deyeri submit olmalidir mutleq ve mutleq sekilde butonun type deyeri submit olmalidir hemcinin inputdada beledir -->
                                            </div>

                                        </div>
                                    </form>
                                </div>
                                
                                <div class="celebrities">
                                    <h4 class="sb-title">Last Five Celebrity</h4>
                                    {% for atfrt in actors_top_five_related_time %}
                                        <div class="celeb-item">
                                            <a href="#"><img src="{{atfrt.image_actor.url}}" style="width: 70px !important;height: 70px !important;" alt=""></a>
                                            <div class="celeb-author">
                                                <h6><a href="{% url 'actor:actorDetailView' atfrt.slug_actor %}">{{atfrt.first_name_actor}} &nbsp;{{atfrt.last_name_actor}}</a></h6>
                                                <span>{{atfrt.duty_type_actor}}</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of celebrity list section-->

    {% endblock content %}
</body>

    {% block scripts %}
        <script type="text/javascript" src="{% static 'actor/actorlist.js' %}"></script>
    {% endblock scripts %}

</html>

