{% extends "base.html" %}
{% load static %}

{% block title %} Contact {% endblock title %}

{% block content %}
	<!-- CSS files -->
	<link rel="stylesheet" href="{% static 'css/plugins.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

    <div class="hero user-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct" style="text-align: center;">
                        <h1 style="color:#fff;white-space: nowrap;text-align: center;">Change Profile Avatar</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-single"><!-- !crispy form islet burda cunki templatim yoxdu onda eger islese  crispy form -->
        <div class="container">
        </div>
    </div>
    

{% endblock content %}