{% extends "base.html" %}
{% load static %}

{% block title %} Contact {% endblock title %}

{% block content %}
	<!-- CSS files -->
	<link rel="stylesheet" href="{% static 'css/plugins.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

    <div class="hero user-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct" style="text-align: center;">
                        <h1 style="color:#fff;white-space: nowrap;text-align: center;">Contact</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="blog-detail-ct">
                        <!-- comment items -->

                        <!-- !Show Error Message Divs -->
                        <div id="contact-error-show">

                        </div>

                        <!-- !xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

                        <div class="comment-form">
                            <h4>Leave Form</h4>

                        <!-- !Contact Form -->
                            <form id="contact-form">
                                {% csrf_token %}
                                <div class="row" id="formattributelist">
                                    <div class="col-md-4">
                                        <input type="text" value="{{profile.user.first_name}}" name="contact_firstname" readonly>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" value="{{profile.user.last_name}}" name="contact_lastname" readonly>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="email" value="{{profile.user.email}}" name="contact_email" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea name="contact_message" placeholder="Message" autofocus>
                                            
                                        </textarea>
                                    </div>
                                </div>
                                <input class="submit" id="contactButtonSend" type="submit" placeholder="submit">
                            </form>
                        <!-- !xxxxxxxxxxxxxxxxxxxxx -->
                        </div>
                        <!-- comment form -->
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'contactadmin/contact.js' %}" defer></script>
{% endblock scripts %}