{% load static %}

<div class="user-fav">
    <p>Account Details</p>
    <ul>
        <li class="{% if 'myprofile/' in request.path %} active {% endif %}" ><a href="{% url 'profiles:myProfileView' %}">Profile</a></li>
        <li class="{% if 'myfavorite/' in request.path %} active {% endif %}"><a href="{% url 'profiles:userFavoriteView' %}">Favorite movies</a></li>
        <li class="{% if 'myrates/' in request.path %} active {% endif %}"><a href="{% url 'profiles:rateMovieListVie' %}">Rated movies</a></li>
    </ul>
</div>

<div class="user-fav">
    <!-- !Logout Part -->
    <p>Others</p>
    <ul>
        <li id="logoutProfile"  data-toggle="modal" data-target="#exampleModalCenter"><a href="#">Log out</a></li>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="border: 1px solid #bdc3c7;border-radius: 4px;">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 0;">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLongTitle" style="margin-top:-20px">Profile Logout</h5>

                </div>
                <div class="modal-body text-capitalize">
                    Are You Sure You Want To Logout?
                </div>
                <div class="modal-footer">                    
                    <form action="{% url 'profiles:userLogoutView' %}" method="POST" autocomplete="off">
                        {% csrf_token %}
                        <button class="ui inverted blue button">Logout</button>
                        <button class="ui inverted red button" data-dismiss="modal">Close</button>
                    </form>

                </div>
            </div>
            </div>
        </div>
    </ul>
</div>

{% block scripts %}
    <script type="text/javascript" src="{% static 'profiles/logout_profile.js' %}"></script>
{% endblock scripts %}