{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %} {{movie.title_movie}} {% endblock title %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
		integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">


<body>
{% block content %}

<style>

	.d-none{
		display: none;
	}

	#writereview{
		color:#fff !important;
	}

	#writereview:hover{
		color:black !important;
		transition: color 0.5s !important;
		font-weight:bold !important;
	}

	.ion-ios-star, .ion-ios-star-outline{
		font-family: OpenSans,sans-serif !important;
		font-size: 36px !important;
		font-style: italic !important;
		line-height: 54px !important;
		text-decoration: none solid rgb(245,181,10) !important;
		word-spacing: 0px !important;
		background-color:inherit !important;
		border: none;
		outline: none;
		padding: 0;
		border-color: none;
	}

	.ion-ios-star{
		color: #F5B50A !important;
	}

	.ion-ios-star-outline{
		color: #abb7c4 !important;
	}




</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/iconify/2.0.0/iconify.min.js" integrity="sha512-lYMiwcB608+RcqJmP93CMe7b4i9G9QK1RbixsNu4PzMRJMsqr/bUrkXUuFzCNsRUo3IXNUr5hz98lINURv5CNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img sticky-sb">
					<img src="{{movie.image_movie.url}}" alt="">
					<div class="movie-btn" style="border: none">	
						<div class="btn-transform transform-vertical red">
							<div><a href="" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
							<div><a href="{{movie.video_movie.url}}" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
						</div>
						<div class="btn-transform transform-vertical">
							<div><a href="#" class="item item-1 yellowbtn" id="biletaliram"> <i class="ion-card"></i> Buy ticket</a></div>
							<div><a href="#" class="item item-2 yellowbtn"><i class="ion-card"></i></a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd" style="color:#b2bec3">{{movie.title_movie}}<span>&nbsp; {{movie.date_created_movie}}</span></h1>
					<div class="social-btn">
					
						{% if request.user.is_authenticated %}
							<a href="" id="addToFavorite" class="parent-btn">
									{% if favoriteFilmsList == movie.slug_movie %}

										<span class="iconify" data-icon="akar-icons:info" data-width="44"></span>

										<a href="{% url 'profiles:userFavoriteView' %}" class="parent-btn" style="text-align: start;">											
											<span>This movie is already on the list of favorites
											</span>
										</a>

										
									{% else %}
										<i class="ion-heart" style="color:#fff;border-color: #fff;" id="ionHeart"></i>
										<input type="hidden" id="inputAddFavorite2" value="true">
										<span>Add to favorite</span>
									{% endif %}
							</a>
						{% endif %}
							

					</div>
					
					<!-- <h1 id="messagestatus" style="color:blue;">ddd</h1> -->

					<div id="messagestatus">
						
					</div>

					<div class="movie-rate">
						<div class="rate">
							<i class="ion-android-star"></i>
							<p><span>{{movie.avarage_ibdm}}</span> /10<br>
							</p>
						</div>				

						<div class="rate-star">
							{% if ratemovie_id %}
								<span style="display: none" id="ratedmovieid">{{ratemovie_id}}</span>
							{% else %}
								<span style="display: none" id="ratedmovieid"></span>
							{% endif %}

							<p>Rate This Movie:  </p>
							<form action="" class="rate-form" method="POST" id="{{movie.id}}">
								{% csrf_token %}
								<button type="submit" class="ion-ios-star-outline" id="first"></button>
								<button type="submit" class="ion-ios-star-outline" id="second"></button>
								<button type="submit" class="ion-ios-star-outline" id="third"></button>
								<button type="submit" class="ion-ios-star-outline" id="fourth"></button>
								<button type="submit" class="ion-ios-star-outline" id="fifth"></button>
								<button type="submit" class="ion-ios-star-outline" id="sixth"></button>
								<button type="submit" class="ion-ios-star-outline" id="seventh"></button>
								<button type="submit" class="ion-ios-star-outline" id="eighth"></button>
								<button type="submit" class="ion-ios-star-outline" id="nineth"></button>
								<button type="submit" class="ion-ios-star-outline" id="tenth"></button>
							</form>
							
							<!-- !xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
						</div>
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active" id="activeolanpage"><a href="#overview">Overview</a></li>
								<li><a href="#reviews"> Reviews</a></li>
								<li><a href="#cast">  Cast & Crew </a></li>
								<li id="activeolanrelatedmovie"><a href="#moviesrelated"> Related Movies</a></li>                        
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		<p>{{movie.description_movie}}</p>
						            		<div class="title-hd-sm">
												<h4>Videos & Photos</h4>
											</div>
											<div class="mvsingle-item ov-item">
												<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image11.jpg" ><img src="{% static 'images/uploads/image1.jpg' %}" alt=""></a>
												<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image21.jpg" ><img src="{% static 'images/uploads/image2.jpg' %}" alt=""></a>
												<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image31.jpg" ><img src="{% static 'images/uploads/image3.jpg' %}" alt=""></a>
												<div class="vd-it">
													<img class="vd-img" src="{% static 'images/uploads/image4.jpg' %}" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="{% static 'images/uploads/play-vd.png' %}" alt=""></a>
												</div>
											</div>
											<div class="title-hd-sm">
												<h4>cast</h4>
											</div>
											<!-- movie cast -->
											<div class="mvcast-item">	
                                            	{% for actor in movie.actor_movie.all %}
                                                    {% if actor.duty_type_actor == 'Actorisa' %}
                                                        <div class="cast-it">
                                                            <div class="cast-left">
                                                                <img src="{{actor.image_actor.url}}" width="40px" height="40px" alt="">
                                                                <a href="{% url 'actor:actorDetailView' actor.slug_actor  %}">{{actor.first_name_actor}}&nbsp;{{actor.last_name_actor}}</a>
                                                            </div>
																<p>{{actor.country_actor}}</p>
                                                        </div>
                                                    {% endif %}
												{% endfor %}										
											</div>

                                            

											<div class="title-hd-sm">
												<h4>User reviews</h4>
												<a href="#" class="time">See All 56 Reviews <i class="ion-ios-arrow-right"></i></a><!-- *Burda yazilan comment komment saylarini qeyd et -->
											</div>
											<!-- movie user review -->
											<div class="mv-user-review-item">
												<h3>Best Marvel movie in my opinion</h3>
												<div class="no-star">
													<i class="ion-android-star"></i>
													<i class="ion-android-star"></i>
													<i class="ion-android-star"></i>
													<i class="ion-android-star"></i>
													<i class="ion-android-star"></i>
													<i class="ion-android-star"></i>
													<i class="ion-android-star"></i>
													<i class="ion-android-star"></i>
													<i class="ion-android-star"></i>
													<i class="ion-android-star last"></i>
												</div>
												<p class="time">
													17 December 2016 by <a href="#"> hawaiipierson</a>
												</p>
												<p>This is by far one of my favorite movies from the MCU. The introduction of new Characters both good and bad also makes the movie more exciting. giving the characters more of a back story can also help audiences relate more to different characters better, and it connects a bond between the audience and actors or characters. Having seen the movie three times does not bother me here as it is as thrilling and exciting every time I am watching it. In other words, the movie is by far better than previous movies (and I do love everything Marvel), the plotting is splendid (they really do out do themselves in each film, there are no problems watching it more than once.</p>
											</div>
						            	</div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">
											
												<div class="sb-it">
													<h6>Director: </h6>
													{% for actor in movie.actor_movie.all %}
														{% if actor.duty_type_actor == 'Director' %}
															<p style="margin-bottom:0px;">
																<a href="{% url 'actor:actorDetailView' actor.slug_actor  %}">{{actor.first_name_actor}}&nbsp;{{actor.last_name_actor}}</a>
															</p>
														{% endif %}
													{% endfor %}
												</div>

												<div class="sb-it">
													<h6>Writer: </h6>
														{% for actor in movie.actor_movie.all %}
															{% if actor.duty_type_actor == 'Writer' %}
																<p style="margin-bottom:0px">
																	<a href="{% url 'actor:actorDetailView' actor.slug_actor  %}">{{actor.first_name_actor}}&nbsp;{{actor.last_name_actor}}</a>
																</p>
															{% endif %}
														{% endfor %}
												</div>

												<div class="sb-it">
													<h6>Stars: </h6>
													{% for actor in movie.actor_movie.all %}
														{% if actor.duty_type_actor == 'Actorisa' %}
															<p style="margin-bottom: 0px;">
																<a href="{% url 'actor:actorDetailView' actor.slug_actor  %}">{{actor.first_name_actor}}&nbsp;{{actor.last_name_actor}}</a> 
															</p>
														{% endif %}
													{% endfor %}
												</div>

						            		<div class="sb-it">
						            			<h6>Genres:</h6>
												{% for category in movie.category_movie.all %}
						            				<p style="margin-bottom: 0px;">
														<a href="#">{{category.name}}</a> 
													</p>
												{% endfor %}
						            		</div>
						            		<div class="sb-it">
						            			<h6>Release Date:</h6>
						            			<p>{{movie.date_created_movie}} ({{movie.language_movie}})</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Run Time:</h6>
						            			<p>{{movie.video_time}} min</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>MMPA Rating:</h6>
						            			<p>{{movie.mmpa_rating_movie}}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Tags:</h6>
												{% for tag in movie.tag_movie.all %}
													<p class="tags">
														<span class="time"><a href="#">#{{tag.name}}</a></span>
													</p>
												{% endfor %}
						            		</div>
						            		<div class="ads">
												<img src="{% static 'images/uploads/ads1.png' %}" alt="">
											</div>
						            	</div>
						            </div>
						        </div>
						        <div id="reviews" class="tab review">
						           <div class="row">
						            	<div class="rv-hd">
						            		<div class="div">
						       	 				<h2>{{movie.title_movie}}</h2>
							            	</div>
								
						            	</div>
						            	<div class="topbar-filter">
											<p>Found <span>5 reviews</span> in total</p>
										</div>
										<div class="mv-user-review-item">
											<div class="user-infor">
												<img src="{% static 'images/uploads/userava1.jpg' %}" alt="">
												<div>
													<h3>Best Marvel movie in my opinion</h3>
													<div class="no-star">
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star last"></i>
													</div>
													<p class="time">
														17 December 2016 by <a href="#"> hawaiipierson</a>
													</p>
												</div>
											</div>
											<p>This is by far one of my favorite movies from the MCU. The introduction of new Characters both good and bad also makes the movie more exciting. giving the characters more of a back story can also help audiences relate more to different characters better, and it connects a bond between the audience and actors or characters. Having seen the movie three times does not bother me here as it is as thrilling and exciting every time I am watching it. In other words, the movie is by far better than previous movies (and I do love everything Marvel), the plotting is splendid (they really do out do themselves in each film, there are no problems watching it more than once.</p>
										</div>
										<div class="mv-user-review-item">
											<div class="user-infor">
												<img src="{% static 'images/uploads/userava2.jpg' %}" alt="">
												<div>
													<h3>Just about as good as the first one!</h3>
													<div class="no-star">
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
													</div>
													<p class="time">
														17 December 2016 by <a href="#"> hawaiipierson</a>
													</p>
												</div>
											</div>
											<p>Avengers Age of Ultron is an excellent sequel and a worthy MCU title! There are a lot of good and one thing that feels off in my opinion. </p>

											<p>THE GOOD:</p>

											<p>First off the action in this movie is amazing, to buildings crumbling, to evil blue eyed robots tearing stuff up, this movie has the action perfectly handled. And with that action comes visuals. The visuals are really good, even though you can see clearly where they are through the movie, but that doesn't detract from the experience. While all the CGI glory is taking place, there are lovable characters that are in the mix. First off the original characters, Iron Man, Captain America, Thor, Hulk, Black Widow, and Hawkeye, are just as brilliant as they are always. And Joss Whedon fixed my main problem in the first Avengers by putting in more Hawkeye and him more fleshed out. Then there is the new Avengers, Quicksilver, Scarletwich, and Vision, they are pretty cool in my opinion. Vision in particular is pretty amazing in all his scenes.</p>

											<p>THE BAD:</p>

											<p>The beginning of the film it's fine until towards the second act and there is when it starts to feel a little rushed. Also I do feel like there are scenes missing but there was talk of an extended version on Blu-Ray so that's cool.</p>
										</div>
										<div class="mv-user-review-item">
											<div class="user-infor">
												<img src="{% static 'images/uploads/userava3.jpg' %}" alt="">
												<div>
													<h3>One of the most boring exepirences from watching a movie</h3>
													<div class="no-star">
														<i class="ion-android-star"></i>
														<i class="ion-android-star last"></i>
														<i class="ion-android-star last"></i>
														<i class="ion-android-star last"></i>
														<i class="ion-android-star last"></i>
														<i class="ion-android-star last"></i>
														<i class="ion-android-star last"></i>
														<i class="ion-android-star last"></i>
														<i class="ion-android-star last"></i>
														<i class="ion-android-star last"></i>
													</div>
													<p class="time">
														26 March 2017 by<a href="#"> christopherfreeman</a>
													</p>
												</div>
											</div>
											<p>I can't right much... it's just so forgettable...Okay, from what I remember, I remember just sitting down on my seat and waiting for the movie to begin. 5 minutes into the movie, boring scene of Tony Stark just talking to his "dead" friends saying it's his fault. 10 minutes in: Boring scene of Ultron and Jarvis having robot space battles(I dunno:/). 15 minutes in: I leave the theatre.2nd attempt at watching it: I fall asleep. What woke me up is the next movie on Netflix when the movie was over.</p>

											<p>Bottemline: It's boring...</p>

											<p>10/10 because I'm a Marvel Fanboy</p>
										</div>
										<div class="mv-user-review-item ">
											<div class="user-infor">
												<img src="{% static 'images/uploads/userava4.jpg' %}" alt="">
												<div>
													<h3>That spirit of fun</h3>
													<div class="no-star">
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star last"></i>
														<i class="ion-android-star last"></i>
														<i class="ion-android-star last"></i>
														<i class="ion-android-star last"></i>
													</div>
													<p class="time">
														26 March 2017 by <a href="#"> juliawest</a>
													</p>
												</div>
											</div>
											<p>If there were not an audience for Marvel comic heroes than clearly these films would not be made, to answer one other reviewer although I sympathize with him somewhat. The world is indeed an infinitely more complex place than the world of Marvel comics with clearly identifiable heroes and villains. But I get the feeling that from Robert Downey, Jr. on down the organizer and prime mover as Iron Man behind the Avengers these players do love doing these roles because it's a lot of fun. If they didn't show that spirit of fun to the audience than these films would never be made.</p>

											<p>So in that spirit of fun Avengers: Age Of Ultron comes before us and everyone looks like they're having a good time saving the world. A computer program got loose and took form in this dimension named Ultron and James Spader who is completely unrecognizable is running amuck in the earth. No doubt Star Trek fans took notice that this guy's mission is to cleanse the earth much like that old earth probe NOMAD which got its programming mixed up in that classic Star Trek prime story. Wouldst Captain James T. Kirk of the Enterprise had a crew like Downey has at his command.</p>
											<p>My favorite is always Chris Evans because of the whole cast he best gets into the spirit of being a superhero. Of all of them, he's already played two superheroes, Captain America and Johnny Storm the Human Torch. I'll be before he's done Evans will play a couple of more as long as the money's good and he enjoys it.</p>

											<p>Pretend you're a kid again and enjoy, don't take it so seriously.</p>
										</div>
										<div class="mv-user-review-item last">
											<div class="user-infor">
												<img src="{% static 'images/uploads/userava5.jpg' %}" alt="">
												<div>
													<h3>Impressive Special Effects and Cast</h3>
													<div class="no-star">
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star last"></i>
														<i class="ion-android-star last"></i>
													</div>
													<p class="time">
														26 March 2017 by <a href="#"> johnnylee</a>
													</p>
												</div>
											</div>
											<p>The Avengers raid a Hydra base in Sokovia commanded by Strucker and they retrieve Loki's scepter. They also discover that Strucker had been conducting experiments with the orphan twins Pietro Maximoff (Aaron Taylor-Johnson), who has super speed, and Wanda Maximoff (Elizabeth Olsen), who can control minds and project energy. Tony Stark (Robert Downey Jr.) discovers an Artificial Intelligence in the scepter and convinces Bruce Banner (Mark Ruffalo) to secretly help him to transfer the A.I. to his Ultron defense system. However, the Ultron understands that is necessary to annihilate mankind to save the planet, attacks the Avengers and flees to Sokovia with the scepter. He builds an armature for self-protection and robots for his army and teams up with the twins. The Avengers go to Clinton Barton's house to recover, but out of the blue, Nick Fury (Samuel L. Jackson) arrives and convinces them to fight against Ultron. Will they succeed? </p>

											<p>"Avengers: Age of Ultron" is an entertaining adventure with impressive special effects and cast. The storyline might be better, since most of the characters do not show any chemistry. However, it is worthwhile watching this film since the amazing special effects are not possible to be described in words. Why Pietro has to die is also not possible to be explained. My vote is eight.</p>
										</div>
						            </div>
						        </div>

								<!--!Cast and Create-->
						        <div id="cast" class="tab">
						        	<div class="row">
						            	<h3>Cast & Crew of</h3>
					       	 			<h2>{{movie.title_movie}}</h2>
										<!-- //== -->
										
										<!--Directors -->
					       	 			<div class="title-hd-sm">
											<h4>Directors & Credit Writers</h4>
										</div>
										<div class="mvcast-item">
											{% for actor in movie.actor_movie.all %}	
												{% if actor.duty_type_actor == 'Director' %}									
													<div class="cast-it">
														<div class="cast-left" style="margin-bottom:0px">
																<h4>{{actor.first_name_actor|title|first}}&nbsp; {{actor.last_name_actor|title|first}}</h4>
															<a href="{% url 'actor:actorDetailView' actor.slug_actor  %}">{{actor.first_name_actor|title}}&nbsp; {{actor.last_name_actor|title}}</a>
														</div>
														<p>Director</p>
													</div>
												{% endif %}
											{% endfor %}
										</div>
										<!-- //== -->
										
										<div class="title-hd-sm">
											<h4>Cast</h4>
										</div>
										<div class="mvcast-item">
											{% for actor in movie.actor_movie.all %}	
												{% if actor.duty_type_actor == 'Actorisa' %}
													<div class="cast-it">
														<div class="cast-left">
															<img src="{{actor.image_actor.url}}" width="40" height="40" alt="">
															<a href="{% url 'actor:actorDetailView' actor.slug_actor  %}">{{actor.first_name_actor}}&nbsp;{{actor.last_name_actor}}</a>
														</div>
														<p>{{actor.country_actor}}</p>
													</div>
												{% endif %}
											{% endfor %}
										</div>
										<!-- //== -->
										<!-- Produced By -->
										<div class="title-hd-sm">
											<h4>Produced by</h4>
										</div>
										<div class="mvcast-item">	
											{% for actor in movie.actor_movie.all %}	
												{% if actor.duty_type_actor == 'Producter' %}										
													<div class="cast-it">
														<div class="cast-left">
															<h4>{{actor.first_name_actor|title|first}}&nbsp;{{actor.last_name_actor|title|first}}</h4>
															<a href="{% url 'actor:actorDetailView' actor.slug_actor  %}">{{actor.first_name_actor|title}} &nbsp;{{actor.last_name_actor|title}}</a>
														</div>
														<p>Producer</p>
													</div>
												{% endif %}
											{% endfor %}
										</div>
						            </div>
					       	 	</div>

									<!-- !Related Movie -->
									<div id="moviesrelated" class="tab">
									
					       	 		<div class="row">
					       	 			<h3>Related Movies To</h3>
					       	 			<h2>{{movie.title_movie}}</h2>
					       	 			<div class="topbar-filter"><!-- Topbar Burda -->
											<p>Found <span>{{filmler|length}} movies</span> in total</p>
											

											<label>Sort by:</label>
											<form action="" id="relatedfilmajax">
												<select id="sortlaformagore">
													<option value="">Options</option>
													<hr>
													<option value="ratingdesc">Rating Descending</option>
													<option value="ratingasc">Rating Ascending</option>
													<option value="datedsc" id="data-desc">Release Date Descending</option>
													<option value="dateasc" id="data-esc">Release Date Ascending</option>
												</select>
											</form>

										</div>


										<div id="loadingrelatedfilmloader">
											<div id="preloader" style="display: none;">
												<img class="logo" src="{% static 'images/logo1.png' %}" alt="" width="119" height="58">
												<div id="status">
													<span></span>
													<span></span>
												</div>
											</div>
										</div>

										<div id="allrelatedfilmlistdiv">
										{% for film in filmler %}
											<div class="movie-item-style-2" id="films-related-area">
												<img src="{{film.image_movie.url}}" style="width: 170px;height: 261px;" alt="">
												<div class="mv-item-infor">
													<h6><a href="{% url 'movie:detailfilm' film.slug_movie %}">{{film.title_movie}} &nbsp; <span class="moviedate">{{film.date_created_movie}}</span></a></h6>
													<p class="rate"><i class="ion-android-star"></i><span class="filmajaxrayting">{{film.avarage_ibdm}}</span> /10</p>
													<p class="describe">{{film.description_movie|truncatechars:160}}</p>
													<p class="run-time"> Run Time: {{film.video_time}} .<span>MMPA: {{film.mmpa_rating_movie}} </span> .<span>Release: {{film.date_created_movie}}</span></p>

													<p>
														Director:
														{% for actor in film.actor_movie.all %}
															{% if actor.duty_type_actor == 'Director' %}	
																<a href="{% url 'actor:actorDetailView' actor.slug_actor  %}">{{actor.first_name_actor|title}}&nbsp; {{actor.last_name_actor|title}}</a>,
															{% endif %}
														{% endfor %}
													</p>

													<p style="display: inline;">
														Stars: 
														{% for actor in film.actor_movie.all %}
																{% if actor.duty_type_actor == 'Actorisa' %}
																	<a href="{% url 'actor:actorDetailView' actor.slug_actor  %}">{{actor.first_name_actor|title}}&nbsp; {{actor.last_name_actor|title}}</a>,
																{% endif %}
														{% endfor %}
													</p>
												</div>
											</div>
										{% endfor %}
					       	 		</div>
					       	 	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	{% block scripts %}
		<script type="text/javascript" src="{% static 'movie/detailfilm.js' %}" defer></script>
	{% endblock scripts %}
</html>
</body>
{% endblock content %}