{% extends "base.html" %}
{% load static %}

{% block title %}Trending Movie List{% endblock title %}



<body>
    
    {% block content %}
        <!--preloading-->
        <div id="preloader" class="loadingadata">
            <img class="logo" src="{% static 'images/logo1.png' %}" alt="" width="119" height="58">
            <div id="status">
                <span></span>
                <span></span>
            </div>
        </div>
            <div class="hero common-hero">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero-ct">
                                <h1> movie listing - grid</h1>
                                <ul class="breadcumb">
                                    <li class="active"><a href="{% url 'movie:home' %}">Home</a></li>
                                    <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-single">
                <div class="container">
                    <div class="row ipad-width">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="topbar-filter">
                                <p>Found <span id="findapimoviecount"></span> in total</p>
                                <a href="moviegrid.html" class="grid" style="margin-right: 10px;"><i class="ion-grid active"></i></a>
                            </div>
                            <div class="flex-wrap-movielist" id="movielistapidata">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% endblock content %}
    
    {% block scripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"></script>
            <script>

                //Html Tag
                const tiklabutonu = document.getElementById('tiklabutonu')
                const movielistapidata = document.getElementById('movielistapidata')
                const loadingadata = document.querySelector('.loadingadata')
                const findapimoviecount = document.getElementById('findapimoviecount')
                //const currentUrl = window.location.href.substring(0,window.location.href.lastIndexOf('/')).replace('/popular','')
                //ve ya
                const currentUrl = window.location.href.replace('/popular/','')
                //console.log('Hal Hazir Url', `${currentUrl}/actor/morgan`)
                


                //Api Data
                const api_key = '6eb08bbd168a23902ff08b4d31a3c687'
                //https://api.themoviedb.org/3/movie/${rf.id}?api_key=${api_key}&language=en-US

                console.log('Finding api movie count ', findapimoviecount.textContent)

                
                setTimeout(()=>{
                    loadingadata.style.display = 'none'
                },2000)//burani sonra 7 cekersen saniye olarag yeni 7000 ne 10 ustunden 3 kimi dusunsen eger
                

            
                axios.get('https://api.themoviedb.org/3/trending/movie/day?api_key=6eb08bbd168a23902ff08b4d31a3c687')
                    .then((response)=>{
                        const resultFilms = response.data.results;
                        findapimoviecount.textContent = `${resultFilms.length} movies`
                        resultFilms.forEach(function(rf,index){
                            if(rf.original_title==undefined){

                            }
                            else{
                                movielistapidata.innerHTML += `
                                    <div class="movie-item-style-2 movie-item-style-1">
                                        <img src="https://image.tmdb.org/t/p/w500/${rf.backdrop_path}" style="min-width: 170px;min-height: 170px;" alt="">
                                        <div class="hvr-inner">
                                            <a href="${currentUrl}/detailapifilm/${rf.id}" class="clickedDetailFilm"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                                        </div>
                                        <div class="mv-item-infor">
                                            <h6><a>${rf.title}</a></h6>
                                            <p class="rate"><i class="ion-android-star"></i><span>${rf.vote_average == 0 ? rf.vote_average=6.7 : rf.vote_average}</span> /10</p>
                                        </div>
                                    </div>
                                `
                            }
                            
                        })
                        const clickedDetailFilm = document.getElementsByClassName('clickedDetailFilm')
                        for(let i=0;i<clickedDetailFilm.length;i++){
                            clickedDetailFilm[i].addEventListener('click',(e)=>{
                                e.preventDefault()//burani sil sonra getmir xiyar basqa seyfeye buna gore
                                //108 qaldim axios ile POST request atmalisan,notlarim.txt dide 23 setirdeki tapsirigi yerine yetirmeye calisaciyiq insaAllah
                            })
                        }
                    })
                    .catch((err)=>{
                        console.log(err);
                    })

            </script>
    {% endblock scripts %}

</body>