{% extends "base.html" %}
{% load static %}

{% block title %}Trending Movie List{% endblock title %}



<body>
    
    {% block content %}
        <!--preloading-->
        <div id="preloader" class="loadingadata">
            <img class="logo" src="{% static 'images/logo1.png' %}" alt="" width="119" height="58">
            <div id="status">
                <span></span>
                <span></span>
            </div>
        </div>
            <div class="hero common-hero">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero-ct">
                                <h1> movie listing - grid</h1>
                                <ul class="breadcumb">
                                    <li class="active"><a href="{% url 'movie:home' %}">Home</a></li>
                                    <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-single">
                <div class="container">
                    <div class="row ipad-width">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="topbar-filter">
                                <p>Found <span id="findapimoviecount"></span> in total</p>
                                <a href="moviegrid.html" class="grid" style="margin-right: 10px;"><i class="ion-grid active"></i></a>
                            </div>
                                <div class="flex-wrap-movielist" id="movielistapidata">
                                    
                                </div>
                        </div>
                    </div>
                </div>
            </div>
    {% endblock content %}
    
    {% block scripts %}
            <script type="text/javascript" src="{% static 'movie/filmapi.js' %}" defer></script>
    {% endblock scripts %}

</body>