{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Create Blog {% endblock title %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/plugins.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/style2.css' %}">


<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct" style="text-align: center;">
                    <h1 style="color:#fff;white-space: nowrap;text-align: center;">Create Blog</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-single">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-12 col-xs-12">
                <div class="blog-detail-ct">
                    
                    <div class="comment-form">
                        <h4>Leave Form</h4>

                    <!-- !Create Blog Form -->
                        <form action="{% url 'postblog:postCreateView' %}" id="blog-form" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                    <div class="alert alert-danger" style="padding: 10px; text-align: center;border: 1px solid gray;border-radius: 3px">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 10px;">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>{{error}}</strong>
                                    </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}

                            <div class="row" id="formattributelist">
                                <span class="col-md-12">
                                    {{form.title_post}}
                                </span>
                                <div class="col-md-12">
                                    {{form.tag_post}}
                                </div>

                                <div class="col-md-12">
                                        <div class="select-box">
                                                <div class="options-container">
                                                        <div class="option">
                                                                {{form.category_post}}
                                                        </div>
                                                </div>

                                                <div class="selected">
                                                    Select Blog Category
                                                </div>

                                            <input type="text" style="display: none;" id="categoryblog" name="categoryblogpost"><!-- ?return selected category value -->

                                        </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    {{form.description_post}}
                                </div>
                            </div>


                            {{imageform.image_post}}
                            <button class="ui grey button" type="button" id="select-image-button" style="background-color: #233A50 !important;padding: 10px;font-size: 12px;">Select Image</button><br><br>
                            <input class="submit col-md-12" id="blogCreateButton" type="submit" placeholder="submit">
                        </form>
                    <!-- !xxxxxxxxxxxxxxxxxxxxx -->
                    </div>
                    <!-- comment form -->
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock content %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'postblog/blog_create.js' %}" defer></script>
{% endblock scripts %}