{% extends "base.html" %}
{% load static %}

{% block title %} Blos List {% endblock title %}

{% block content %}

<!-- Title Page -->
<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1> blog listing - list</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="#">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span> blog listing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End of Title Page -->

<!-- blog list section-->
<div class="page-single">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">
                
                <!-- !Post List -->
                {% for pli in postImageLists %}
                    <div class="blog-item-style-1 blog-item-style-3">
                        {% if pli.image_post %}
                            <img src="{{pli.image_post.url}}" alt="">
                        {% else %}
                            <img src="{% static 'images/notfoundimages.jpg' %}" style="width: 300px;height: 190px;"  alt="">
                        {% endif %}
                        <div class="blog-it-infor">
                            <h3><a href="blogdetail.html">{{pli.postfilm_fk.title_post}}</a></h3>
                            <span class="time">27 Mar 2017</span>
                            <p>Africa's burgeoning animation scene got a boost this week with the announcement of an
                                ambitious new partnership that will pair rising talents from across the continent ...</p>
                        </div>
                    </div>
                {% endfor %}
                <!-- !xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Sidebar Page -->

                <ul class="pagination">
                    <li class="icon-prev"><a href="#"><i class="ion-ios-arrow-left"></i></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">21</a></li>
                    <li><a href="#">22</a></li>
                    <li class="icon-next"><a href="#"><i class="ion-ios-arrow-right"></i></a></li>
                </ul>
            </div>
            <!-- !Include Sidebar Page -->
                {% include 'sidebar_bloglist.html' %}
            <!-- !End Sidebar Page -->
        </div>
    </div>
</div>
<!--end of blog list section-->



{% endblock content %}