{% extends "base.html" %}
{% load static %}

{% block title %} Blog Detail {% endblock title %}



{% block content %}
<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1> blog detail</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="{% url 'movie:home' %}">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span> blog listing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog detail section-->
<div class="page-single">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="blog-detail-ct">
                    <h1>{{postfilm.title_post}}</h1>
                    <span class="time">{{postfilm.created_date_post|date:'d.M.Y'}}</span>
                    
                    <!-- !slider movie images part -->
                    <!-- {% for i in listimage  %}
							<p>{{i}}</p>
							<img src="{% static 'images/' %}{{i}}" alt="">
						{% endfor %} -->
                    <!-- !finish slider images part -->

                    <style>
                        .blogimageclass {
                            width: 100%;
                            height: 80%;
                        }
                    </style>

                    <!-- Slider main container -->
                    <!-- Swiper -->
                    <div class="swiper mySwiper" style="width: 848px;height: 458px">
                        <div class="swiper-wrapper">

                            {% for imagepostlist in imagepostlists %}
                                <div class="swiper-slide">
                                        <img src="{{imagepostlist.image_post.url}}" class="blogimageclass"
                                        style="width: 100%;height: 80%;" alt="">
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-button-next" style="color:#636e72"></div>
                        <div class="swiper-button-prev" style="color:#636e72"></div>
                    </div>
</p>
                    <p>{{postfilm.description_post}}</p>

                    <div class="flex-it flex-ct">
                    </div>

                    <!-- share link -->
                    <div class="flex-it share-tag">
                        <div class="social-link">
                            <h4>Share it</h4>
                            <a href="#"><i class="ion-social-facebook"></i></a>
                            <a href="#"><i class="ion-social-twitter"></i></a>
                            <a href="#"><i class="ion-social-googleplus"></i></a>
                            <a href="#"><i class="ion-social-pinterest"></i></a>
                            <a href="#"><i class="ion-social-linkedin"></i></a>
                        </div>
                        <div class="right-it">
                            {% if tagpostslists %}
                                <h4>Tags : </h4>
                                {% for tagpostslist in tagpostslists %}
                                    {% if tagpostslist.title_tag|first == '#' %}
                                        <a href="#"> {{tagpostslist.title_tag|add:','}} </a>
                                    {% else %}
                                        <a href="#"> #{{tagpostslist.title_tag|add:','}}</a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <!-- comment items -->
                    <div class="comments">
                        <h4>{{postfilm.commentsblogfilm.all.count}} Comments</h4>
                        
                        {% if postfilm.commentsblogfilm.all %}
                            {% for commentblog in postfilm.commentsblogfilm.all %}
                                <div class="cmt-item" style="text-align: left;">
                                    {% if commentblog.user.avatar %}
                                        <img src="{{commentblog.user.avatar.url}}" style="border-radius: 50%;width: 70px;height: 70px;" alt="">
                                    {% else %}
                                        <img src="{% static 'images/sekilyox.png' %}" style="border-radius: 50%;width: 70px;height: 70px;" alt="">
                                    {% endif %}
                                    <div class="author-infor" style="margin-top: -50px;">
                                        <div class="flex-it2">
                                            <h6><a href="#">{{commentblog.user}}</a></h6> <span class="time">{{commentblog.created|date:'d.M.Y'}}</span><!-- !user detail seyfesini hazirlayanda elave edersen bura link insaAllah -->
                                        </div>
                                        <p>{{commentblog.body}}</p>

                                        <form action="{% url 'postblog:likeUnlikeCommentView' %}" method="POST" class="comment-like-form-class" id="{{commentblog.id}}">
                                            {% csrf_token %}
                                            {% if likeprofile not in commentblog.liked_comment.all %}
                                                <button type="submit" class="likeunlike" likeunlike-id="{{commentblog.id}}" style="background-color: #071829 !important;outline: none;border: none;"><!-- eger form ile POST request atirsansa  bu formu gondermek ucun lazim olan butonun type deyeri submit olmalidir yadda saxla => type='submit' </input></input> -->
                                                        <img src="{% static 'images/thumb-up.png' %}" style="width: 20px;margin-top: -5px;" alt="">
                                                </button>
                                            {% else %}
                                                <button type="submit" class="likeunlike" likeunlike-id="{{commentblog.id}}" style="background-color: #071829 !important;outline: none;border: none;"><!-- eger form ile POST request atirsansa  bu formu gondermek ucun lazim olan butonun type deyeri submit olmalidir yadda saxla => type='submit' </input></input> -->
                                                    <img src="{% static 'images/thumb-down.png' %}" style="width: 20px;margin-top:-5px" alt="">
                                                </button>
                                            {% endif %}

                                            <hr style="height:2px;background-color:grey">
                                            <a class="rep-btn" href="">
                                                Likes :
                                                <strong id="commentlikeunlikecount"> {{commentblog.like_comment_count}}</strong>
                                            </a>
                                            <span style="margin-left: 596px;">
                                                {% if request.user.is_authenticated %}
                                                    {% if request.user == commentblog.user.user %}
                                                        <a href="{% url 'postblog:commentUpdateView' commentblog.pk %}" class="ui inverted standard button">Update</a>
                                                        <a href="{% url 'postblog:commentDeleteView' commentblog.pk %}" class="ui inverted red button">Delete</a>
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <br>
                            <div class="alert alert-danger border rounded">
                                <strong style="color:#2c3e50">Not Having Comment Yet</strong>
                            </div>
                        {% endif %}
                    </div>

                    <!-- !Load More Comments -->
                    <!-- Write your comments here -->


                    <div class="comment-form">
                        <h4>Leave a comment</h4>
                        <form action="" method="POST" autocomplete="off">
                            {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12">
                                        {{form}}
                                </div>
                            </div>
                            <input class="submit" type="submit" placeholder="submit"><!-- eger form ile POST request atirsansa  bu formu gondermek ucun lazim olan butonun type deyeri submit olmalidir yadda saxla => type='submit' </input></input>-->
                        </form>
                    </div>
                    <!-- comment form -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    <script>
        var swiper = new Swiper(".mySwiper", {
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
    <script src="{% static 'postblog/blog_detail.js' %}" defer></script>
{% endblock scripts %}