{% extends "base.html" %}
{% load static %}

{% block title %} Blog Detail {% endblock title %}



{% block content %}
<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1> blog detail</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="{% url 'movie:home' %}">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span> blog listing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog detail section-->
<div class="page-single">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="blog-detail-ct">
                    <h1>{{postfilm.title_post}}</h1>
                    <span class="time">{{postfilm.created_date_post|date:'d.M.Y'}}</span>
                    
                    <!-- !slider movie images part -->
                    <!-- {% for i in listimage %}
							<p>{{i}}</p>
							<img src="{% static 'images/' %}{{i}}" alt="">
						{% endfor %} -->
                    <!-- !finish slider images part -->

                    <style>
                        .blogimageclass {
                            width: 100%;
                            height: 80%;
                        }
                    </style>

                    <!-- Slider main container -->
                    <!-- Swiper -->
                    <div class="swiper mySwiper" style="width: 848px;height: 458px">
                        <div class="swiper-wrapper">

                            {% for imagepostlist in imagepostlists %}
                                <div class="swiper-slide">
                                        <img src="{{imagepostlist.image_post.url}}" class="blogimageclass"
                                        style="width: 100%;height: 80%;" alt="">
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-button-next" style="color:#636e72"></div>
                        <div class="swiper-button-prev" style="color:#636e72"></div>
                    </div>
</p>
                    <p>{{postfilm.description_post}}</p>

                    <div class="flex-it flex-ct">
                    </div>

                    <!-- share link -->
                    <div class="flex-it share-tag">
                        <div class="social-link">
                            <h4>Share it</h4>
                            <a href="#"><i class="ion-social-facebook"></i></a>
                            <a href="#"><i class="ion-social-twitter"></i></a>
                            <a href="#"><i class="ion-social-googleplus"></i></a>
                            <a href="#"><i class="ion-social-pinterest"></i></a>
                            <a href="#"><i class="ion-social-linkedin"></i></a>
                        </div>
                        <div class="right-it">
                            <h4>Tags : </h4>
                            {% for tagpostslist in tagpostslists %}
                                {% if tagpostslist.title_tag|first == '#' %}
                                    <a href="#"> {{tagpostslist.title_tag|add:','}} </a>
                                {% else %}
                                    <a href="#"> #{{tagpostslist.title_tag|add:','}}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- comment items -->
                    <div class="comments">
                        <h4>04 Comments</h4>
                        <div class="cmt-item flex-it">
                            <img src="images/uploads/author.png" alt="">
                            <div class="author-infor">
                                <div class="flex-it2">
                                    <h6><a href="#">Steve Perry</a></h6> <span class="time"> - 27 Mar 2017</span>
                                </div>
                                <p>Even though Journey's classic vocalist Steve Perry didn’t reunite with the band
                                    during their Rock Hall performance (to the dismay of hopeful fans), he did offer up
                                    a touching speech.</p>
                                <p><a class="rep-btn" href="#">+ Reply</a></p>
                            </div>
                        </div>
                        <div class="cmt-item flex-it reply">
                            <img src="images/uploads/author2.png" alt="">
                            <div class="author-infor">
                                <div class="flex-it2">
                                    <h6><a href="#">Joss Whedon</a></h6> <span class="time"> - 27 Mar 2017</span>
                                </div>
                                <p>Prince died not long after the 2016 Rock Hall ceremony, so this year's edition
                                    featured Lenny Kravitz and a full gospel choir performing a swamp-funk take on When
                                    Doves Cry.</p>
                            </div>
                        </div>
                        <div class="cmt-item flex-it reply">
                            <img src="images/uploads/author3.png" alt="">
                            <div class="author-infor">
                                <div class="flex-it2">
                                    <h6><a href="#">Dave McNary</a></h6> <span class="time"> - 27 Mar 2017</span>
                                </div>
                                <p>Blue Sky Studios is one of the world’s leading digital animation movie studios and we
                                    are proud of their commitment to stay and grow in Connecticut.</p>
                            </div>
                        </div>
                        <div class="cmt-item flex-it">
                            <img src="images/uploads/author4.png" alt="">
                            <div class="author-infor">
                                <div class="flex-it2">
                                    <h6><a href="#">Margot Robbie</a></h6> <span class="time"> - 27 Mar 2017</span>
                                </div>
                                <p>Joan Baez was the sharpest of the Rock Hall inductees, singing about deportees and
                                    talking social activism as well as joking about her age and the likelihood that a
                                    good portion of the Barclays. </p>
                                <p><a class="rep-btn" href="#">+ Reply</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="comment-form">
                        <h4>Leave a comment</h4>
                        <form action="#">
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="text" placeholder="Your name">
                                </div>
                                <div class="col-md-4">
                                    <input type="text" placeholder="Your email">
                                </div>
                                <div class="col-md-4">
                                    <input type="text" placeholder="Website">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea name="message" id="" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <input class="submit" type="submit" placeholder="submit">
                        </form>
                    </div>
                    <!-- comment form -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    var swiper = new Swiper(".mySwiper", {
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
{% endblock scripts %}