{% extends "base.html" %}
{% load static %}

{% block title %} Category : {{slug|title}} {% endblock title %}

{% block content %}
    <div class="hero common-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                        <h1> blog listing - grid</h1>
                        <ul class="breadcumb">
                            <li class="active"><a href="{% url 'movie:home' %}">Home</a></li>
                            <li> <span class="ion-ios-arrow-right"></span> blog listing</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog grid section-->
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="row">
                        {% for catblog in postImageListsCategory %}
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="blog-item-style-2">
                                    {% if catblog.image_post %}
                                        <a href="{% url 'postblog:postDetailView' catblog.postfilm_fk.id %}"><img src="{{catblog.image_post.url}}" style="width: 237px;height:165px;" alt=""></a>
                                    {% else %}
                                        <a href="{% url 'postblog:postDetailView' catblog.postfilm_fk.id %}"><img src="{% static 'images/notfoundimages.jpg' %}" alt=""></a>
                                    {% endif %}
                                    <div class="blog-it-infor">
                                        <h3><a href="{% url 'postblog:postDetailView' catblog.postfilm_fk.id %}">{{catblog.postfilm_fk.title_post}}</a></h3>
                                        <span class="time">27 Mar 2017</span>
                                        <p>{{catblog.postfilm_fk.description_post|truncatewords:10}}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% include "sidebar_bloglist.html" %}
            </div>
        </div>
    </div>
</body>
</html>
{% endblock content %}