{% extends "base.html" %}
{% load static %}

{% block title %} Delete Comment {% endblock title %}

{% block content %}
    <div class="hero user-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct" style="text-align: center;">
                        <h1 style="color:#fff;white-space: nowrap;text-align: center;">Contact</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-single">
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <div class="alert alert-info" style="border: 1px solid transparent;border-radius:5px;">
                    Are you sure you want to delete comment:
                    <strong style="color:black">{{object.body}}</strong><br>
                </div>
                <div class="row" style="display: flex;">
                    <a id="cancel-delete" style="width: 50%;padding: 10px;" class="positive ui button">Cancel</a>
                    <button type="submit" style="width:50%" class="negative ui button">Delete</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
        const cancelDelete = document.getElementById('cancel-delete')
        cancelDelete.addEventListener('click',(e)=>{
            history.back()
        })
    </script>
{% endblock scripts %}